@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'regularhahafont';
    src: url('./assets/fonts/static/Karla-Regular.ttf');
}

@font-face {
    font-family: 'boldfont';
    src: url('./assets/fonts/static/Karla-Bold.ttf');
}